In [224]:
import pandas as pd
import os

def filter_wisconsin_rows(input_csv, output_csv):
    chunk_size = 10000  
    first_chunk = True  
    for chunk in pd.read_csv(input_csv, chunksize=chunk_size):
        # Ensure 'Date Local' is a datetime object
        chunk['Date Local'] = pd.to_datetime(chunk['Date Local'])

        # Filter for rows where State is Wisconsin and the year is 2021
        filtered_chunk = chunk[(chunk['State Name'] == 'Wisconsin') & (chunk['Date Local'].dt.year == 2021)]
        if not filtered_chunk.empty:
            filtered_chunk.to_csv(output_csv, mode='a', header=first_chunk, index=False)
            first_chunk = False

input_file = 'hourly_88101_2021.csv'  
output_file = 'filtered_wisconsin_2021.csv'
filter_wisconsin_rows(input_file, output_file)

In [225]:
df = pd.read_csv('hourly_88101_2021.csv')

/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (17) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [226]:
df = df[df['State Name'] == "Wisconsin"]

In [227]:
df = df.reset_index()

In [228]:
df = df[['State Code','County Code','County Code','Parameter Code','Latitude','Longitude','Date Local','Time Local','Date GMT','Time GMT','Sample Measurement','County Name']]

In [229]:
df

,State Code,County Code,County Code,Parameter Code,Latitude,Longitude,Date Local,Time Local,Date GMT,Time GMT,Sample Measurement,County Name
0,55,3,3,88101,46.602340,-90.65615,2021-01-01,00:00,2021-01-01,06:00,12.6,Ashland
1,55,3,3,88101,46.602340,-90.65615,2021-01-01,01:00,2021-01-01,07:00,11.5,Ashland
2,55,3,3,88101,46.602340,-90.65615,2021-01-01,02:00,2021-01-01,08:00,10.9,Ashland
3,55,3,3,88101,46.602340,-90.65615,2021-01-01,03:00,2021-01-01,09:00,10.7,Ashland
4,55,3,3,88101,46.602340,-90.65615,2021-01-01,04:00,2021-01-01,10:00,9.8,Ashland
...,...,...,...,...,...,...,...,...,...,...,...,...
178176,55,133,133,88101,43.020075,-88.21507,2021-12-31,19:00,2022-01-01,01:00,19.4,Waukesha
178177,55,133,133,88101,43.020075,-88.21507,2021-12-31,20:00,2022-01-01,02:00,22.0,Waukesha
178178,55,133,133,88101,43.020075,-88.21507,2021-12-31,21:00,2022-01-01,03:00,19.8,Waukesha
178179,55,133,133,88101,43.020075,-88.21507,2021-12-31,22:00,2022-01-01,04:00,20.5,Waukesha
178180,55,133,133,88101,43.020075,-88.21507,2021-12-31,23:00,2022-01-01,05:00,21.0,Waukesha

In [230]:
df.to_csv('cleaned_wi_2021_pm25.csv', index = False)

In [231]:
df = pd.read_csv('cleaned_wi_2021_pm25.csv')

In [232]:
df.head()

,State Code,County Code,County Code.1,Parameter Code,Latitude,Longitude,Date Local,Time Local,Date GMT,Time GMT,Sample Measurement,County Name
0,55,3,3,88101,46.60234,-90.65615,2021-01-01,00:00,2021-01-01,06:00,12.6,Ashland
1,55,3,3,88101,46.60234,-90.65615,2021-01-01,01:00,2021-01-01,07:00,11.5,Ashland
2,55,3,3,88101,46.60234,-90.65615,2021-01-01,02:00,2021-01-01,08:00,10.9,Ashland
3,55,3,3,88101,46.60234,-90.65615,2021-01-01,03:00,2021-01-01,09:00,10.7,Ashland
4,55,3,3,88101,46.60234,-90.65615,2021-01-01,04:00,2021-01-01,10:00,9.8,Ashland

In [233]:
print(type(df['Time Local'][0]))
print(type(df['Date Local'][0]))

<class 'str'>
<class 'str'>

In [234]:
import pandas as pd

df = pd.read_csv('cleaned_wi_2021_pm25.csv')  # Replace with your actual dataset path

# Concatenate the 'Date Local' and 'Time Local' columns
df['DateTime_1'] = df['Date Local'] + ' ' + df['Time Local']

# Convert the concatenated string to a DateTime object
df['DateTime'] = pd.to_datetime(df['DateTime_1'])

In [235]:
df

,State Code,County Code,County Code.1,Parameter Code,Latitude,Longitude,Date Local,Time Local,Date GMT,Time GMT,Sample Measurement,County Name,DateTime_1,DateTime
0,55,3,3,88101,46.602340,-90.65615,2021-01-01,00:00,2021-01-01,06:00,12.6,Ashland,2021-01-01 00:00,2021-01-01 00:00:00
1,55,3,3,88101,46.602340,-90.65615,2021-01-01,01:00,2021-01-01,07:00,11.5,Ashland,2021-01-01 01:00,2021-01-01 01:00:00
2,55,3,3,88101,46.602340,-90.65615,2021-01-01,02:00,2021-01-01,08:00,10.9,Ashland,2021-01-01 02:00,2021-01-01 02:00:00
3,55,3,3,88101,46.602340,-90.65615,2021-01-01,03:00,2021-01-01,09:00,10.7,Ashland,2021-01-01 03:00,2021-01-01 03:00:00
4,55,3,3,88101,46.602340,-90.65615,2021-01-01,04:00,2021-01-01,10:00,9.8,Ashland,2021-01-01 04:00,2021-01-01 04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178176,55,133,133,88101,43.020075,-88.21507,2021-12-31,19:00,2022-01-01,01:00,19.4,Waukesha,2021-12-31 19:00,2021-12-31 19:00:00
178177,55,133,133,88101,43.020075,-88.21507,2021-12-31,20:00,2022-01-01,02:00,22.0,Waukesha,2021-12-31 20:00,2021-12-31 20:00:00
178178,55,133,133,88101,43.020075,-88.21507,2021-12-31,21:00,2022-01-01,03:00,19.8,Waukesha,2021-12-31 21:00,2021-12-31 21:00:00
178179,55,133,133,88101,43.020075,-88.21507,2021-12-31,22:00,2022-01-01,04:00,20.5,Waukesha,2021-12-31 22:00,2021-12-31 22:00:00
178180,55,133,133,88101,43.020075,-88.21507,2021-12-31,23:00,2022-01-01,05:00,21.0,Waukesha,2021-12-31 23:00,2021-12-31 23:00:00

In [236]:
column_name = 'County Name'  # Replace with your actual column name

# Counting the number of unique values
unique_count = df[column_name].nunique()
print(f"Number of unique values in '{column_name}': {unique_count}")

# Printing the unique values
unique_values = df[column_name].unique()
print(f"Unique values in '{column_name}': {unique_values}")

Number of unique values in 'County Name': 18
Unique values in 'County Name': ['Ashland' 'Brown' 'Dane' 'Dodge' 'Eau Claire' 'Forest' 'Grant' 'Jackson'
 'Kenosha' 'La Crosse' 'Milwaukee' 'Monroe' 'Outagamie' 'Ozaukee' 'Sauk'
 'Taylor' 'Vilas' 'Waukesha']

In [237]:
# Assuming 'Latitude' and 'Longitude' are your column names
latitude_column = 'Latitude'
longitude_column = 'Longitude'

# Creating a unique identifier for each monitor based on lat-lon pair
df['MonitorID'] = df[latitude_column].astype(str) + ',' + df[longitude_column].astype(str)

# Counting the number of unique monitors
unique_monitors_count = df['MonitorID'].nunique()
print(f"Number of unique monitors: {unique_monitors_count}")

# Printing the unique monitor IDs
unique_monitors = df['MonitorID'].unique()
print("Unique monitors (lat,lon):", unique_monitors)

Number of unique monitors: 21
Unique monitors (lat,lon): ['46.60234,-90.65615' '44.50729,-87.99344' '43.10101,-89.35768'
 '43.0733,-89.4358' '43.46611,-88.62111' '44.76249,-91.41445'
 '45.56498,-88.80859' '42.69302,-90.69813' '44.334686,-90.792025'
 '42.50472,-87.8093' '43.7775,-91.2269' '43.01724,-87.93369'
 '43.060975,-87.913504' '42.93257,-87.93434' '44.020855,-90.40164'
 '44.30738,-88.39509' '43.4983,-87.8102' '43.4351,-89.67979'
 '45.2066,-90.5972' '46.0519,-89.654' '43.020075,-88.21507']

In [247]:
import pandas as pd
import os

directory = 'new_directory_monitor'  # Replace with the path to your directory
latitude_column = 'Latitude'
longitude_column = 'Longitude'
date_column = 'Date Local'

for filename in os.listdir(directory):
    if filename.endswith('.csv'):
        file_path = os.path.join(directory, filename)
        df = pd.read_csv(file_path)
        df['MonitorID'] = df[latitude_column].astype(str) + ',' + df[longitude_column].astype(str)

        # Counting the number of unique monitors
        unique_monitors_count = df['MonitorID'].nunique()

        # Counting the number of unique days in the 'Date Local' column
        unique_days_count = df[date_column].nunique()

        # Printing the results
        print(f"File: {filename}")
        print(f"Number of unique monitors: {unique_monitors_count}")
        print(f"Number of unique days in '{date_column}': {unique_days_count}")
        print("-----------------------------------")

File: monitor_42.93257_-87.93434.csv
Number of unique monitors: 1
Number of unique days in 'Date Local': 365
-----------------------------------
File: monitor_42.69302_-90.69813.csv
Number of unique monitors: 1
Number of unique days in 'Date Local': 359
-----------------------------------
File: monitor_46.0519_-89.654.csv
Number of unique monitors: 1
Number of unique days in 'Date Local': 365
-----------------------------------
File: monitor_43.4983_-87.8102.csv
Number of unique monitors: 1
Number of unique days in 'Date Local': 365
-----------------------------------
File: monitor_45.56498_-88.80859.csv
Number of unique monitors: 1
Number of unique days in 'Date Local': 363
-----------------------------------
File: monitor_44.334686_-90.792025.csv
Number of unique monitors: 1
Number of unique days in 'Date Local': 247
-----------------------------------
File: monitor_44.020855_-90.40164.csv
Number of unique monitors: 1
Number of unique days in 'Date Local': 252
-----------------------------------
File: monitor_43.020075_-88.21507.csv
Number of unique monitors: 1
Number of unique days in 'Date Local': 365
-----------------------------------
File: monitor_43.060975_-87.913504.csv
Number of unique monitors: 1
Number of unique days in 'Date Local': 95
-----------------------------------
File: monitor_44.76249_-91.41445.csv
Number of unique monitors: 1
Number of unique days in 'Date Local': 363
-----------------------------------
File: monitor_43.4351_-89.67979.csv
Number of unique monitors: 1
Number of unique days in 'Date Local': 365
-----------------------------------
File: monitor_43.46611_-88.62111.csv
Number of unique monitors: 1
Number of unique days in 'Date Local': 365
-----------------------------------
File: monitor_45.2066_-90.5972.csv
Number of unique monitors: 1
Number of unique days in 'Date Local': 361
-----------------------------------
File: monitor_46.60234_-90.65615.csv
Number of unique monitors: 1
Number of unique days in 'Date Local': 365
-----------------------------------
File: monitor_43.7775_-91.2269.csv
Number of unique monitors: 1
Number of unique days in 'Date Local': 364
-----------------------------------
File: monitor_43.0733_-89.4358.csv
Number of unique monitors: 1
Number of unique days in 'Date Local': 363
-----------------------------------
File: monitor_42.50472_-87.8093.csv
Number of unique monitors: 1
Number of unique days in 'Date Local': 328
-----------------------------------
File: monitor_43.01724_-87.93369.csv
Number of unique monitors: 1
Number of unique days in 'Date Local': 365
-----------------------------------
File: monitor_44.30738_-88.39509.csv
Number of unique monitors: 1
Number of unique days in 'Date Local': 365
-----------------------------------
File: monitor_43.10101_-89.35768.csv
Number of unique monitors: 1
Number of unique days in 'Date Local': 365
-----------------------------------
File: monitor_44.50729_-87.99344.csv
Number of unique monitors: 1
Number of unique days in 'Date Local': 365
-----------------------------------

In [248]:
import pandas as pd
import os

# Assuming 'Latitude', 'Longitude', and 'Date Local' are your column names
date_column = 'Date Local'

# Iterate over each CSV file in the directory
for filename in os.listdir(directory):
    if filename.endswith('.csv'):
        file_path = os.path.join(directory, filename)
        df = pd.read_csv(file_path)

        # Counting the number of unique days in the 'Date Local' column
        unique_days_count = df[date_column].nunique()

        # Check if the count is less than 350
        if unique_days_count < 350:
            # Delete the file
            os.remove(file_path)
            print(f"Deleted '{filename}' as it had less than 350 unique days.")

Deleted 'monitor_44.334686_-90.792025.csv' as it had less than 350 unique days.
Deleted 'monitor_44.020855_-90.40164.csv' as it had less than 350 unique days.
Deleted 'monitor_43.060975_-87.913504.csv' as it had less than 350 unique days.
Deleted 'monitor_42.50472_-87.8093.csv' as it had less than 350 unique days.

In [ ]:
# from Matt

In [ ]:
# def impute_data(raw_data_path, year):
#   df = pd.read_parquet(raw_data_path)
#   df_filtered = df[df['valid'].dt.year.isin([2021, 2021])]
#   df = pd.DataFrame(df_filtered)
#   #df['valid'] = pd.to_datetime(df['valid']).replace(microsecond=0, second=0, minute=0)
#   df = df.set_index('valid')
#   df.index = df.index.floor('H')

#   start_date = pd.to_datetime(f'{year}-01-01').floor('D')
#   end_date = pd.to_datetime(f'{year+1}-01-01').floor('D') - timedelta(hours=1)
#   complete_index = pd.date_range(start=start_date, end=end_date, freq='1H')
#   complete_df = pd.DataFrame(index=complete_index)
  
#   merged_df = complete_df.merge(df, left_index=True, right_index=True, how='left')
#   merged_df = merged_df[~merged_df.index.duplicated(keep='first')]
#   imputed_df = merged_df.fillna(method='ffill')
#   return imputed_df

# for filename in os.listdir('./raw_WI_data'):
#     if '.parquet' not in filename:
#       continue
#     dataframe = impute_data('./raw_WI_data/' + filename, 2021)
#     if len(dataframe) != 8760:
#       print(filename)
#       print(dataframe)

In [238]:
df.to_csv('cleaned_wi_2021_pm25.csv', index = False)

In [243]:
df = pd.read_csv('cleaned_wi_2021_pm25.csv')  # Replace with your actual dataset path
df.head()

,State Code,County Code,County Code.1,Parameter Code,Latitude,Longitude,Date Local,Time Local,Date GMT,Time GMT,Sample Measurement,County Name,DateTime_1,DateTime,MonitorID
0,55,3,3,88101,46.60234,-90.65615,2021-01-01,00:00,2021-01-01,06:00,12.6,Ashland,2021-01-01 00:00,2021-01-01 00:00:00,"46.60234,-90.65615"
1,55,3,3,88101,46.60234,-90.65615,2021-01-01,01:00,2021-01-01,07:00,11.5,Ashland,2021-01-01 01:00,2021-01-01 01:00:00,"46.60234,-90.65615"
2,55,3,3,88101,46.60234,-90.65615,2021-01-01,02:00,2021-01-01,08:00,10.9,Ashland,2021-01-01 02:00,2021-01-01 02:00:00,"46.60234,-90.65615"
3,55,3,3,88101,46.60234,-90.65615,2021-01-01,03:00,2021-01-01,09:00,10.7,Ashland,2021-01-01 03:00,2021-01-01 03:00:00,"46.60234,-90.65615"
4,55,3,3,88101,46.60234,-90.65615,2021-01-01,04:00,2021-01-01,10:00,9.8,Ashland,2021-01-01 04:00,2021-01-01 04:00:00,"46.60234,-90.65615"

In [222]:
# now split everything into separate files

In [240]:
import pandas as pd
import os

# Load your dataset

# Combine Latitude and Longitude to create a unique identifier for each monitor
df['MonitorID'] = df['Latitude'].astype(str) + ',' + df['Longitude'].astype(str)

# Name of the new directory
new_directory = 'new_directory_monitor'

# Ensure the new directory exists
if not os.path.exists(new_directory):
    os.makedirs(new_directory)

def adjust_length(group):
    length = len(group)
    if length > 8760:
        print('shit')
        return group.iloc[:8760]
    elif length < 8760:
        missing_rows = 8760 - length
        dummy_data = pd.DataFrame([group.iloc[-1]] * missing_rows)
        return pd.concat([group, dummy_data], ignore_index=True)
    return group

# Group by the unique monitor identifier
grouped = df.groupby('MonitorID')

# Write each adjusted group to a separate CSV file in the new directory
for monitor_id, group in grouped:
    adjusted_group = adjust_length(group)
    filename = f'{new_directory}/monitor_{monitor_id.replace(",", "_")}.csv'
    adjusted_group.to_csv(filename, index=False)

shit

In [ ]:
# now impute every file so as not to disrupt too much

In [ ]:
import pandas as pd
import numpy as np

# Load your dataset
df = pd.read_csv('cleaned_wi_2021_pm25.csv')  # Replace with your actual dataset path
df['DateTime_1'] = pd.to_datetime(df['DateTime_1'])
df = df.sort_values(by='DateTime_1')
start = df['DateTime_1'].min()
end = df['DateTime_1'].max()
full_range = pd.date_range(start=start, end=end, freq='H')
full_df = pd.DataFrame(full_range, columns=['DateTime_1'])
df_full = full_df.merge(df, on='DateTime_1', how='left')
df_full.fillna(method='ffill', inplace=True)

In [177]:
# milwaukee_df = df[df['County Name'] == 'Milwaukee']
# unique_lat_lon = milwaukee_df[['Latitude', 'Longitude']].drop_duplicates().iloc[0]
# # Filter the DataFrame to only include rows with this lat/lon pair
# filtered_df = milwaukee_df[(milwaukee_df['Latitude'] == unique_lat_lon['Latitude']) & (milwaukee_df['Longitude'] == unique_lat_lon['Longitude'])]
# # Now filtered_df contains rows for Milwaukee County with a single lat/lon pair

# This is the cleaning of Wisconsin space, writing files, imputing, etc

In [9]:
# make files for each individual station

# check the lengths for each file to make sure it is the right values

# if the values for the lengths are incorrect, then impute

# output a directory filled with files named after each station and representative of 1 year of PM data for the node

In [14]:
# file for imputing found here
# long name file that eats parquet from github

In [142]:
output_directory = 'station_data_new'
os.makedirs(output_directory, exist_ok=True)

expected_length = 8760
for station, data in df.groupby('Longitude'):
    file_path = os.path.join(output_directory, f"{station}.csv")
    if len(data) < expected_length:
        data = data.ffill().bfill()
        print(len(data))
    data.to_csv(file_path, index=False)

print("Files created for each station.")

8742
8570
8733
8687
8727
8738
4528
8735
8735
8738
8727
3657
946
8687
8733
8570
8742
1
Files created for each station.

In [ ]:
# now do particulate matter

In [ ]:
import os
import pandas as pd

def impute_data(file_path):
    df = pd.read_csv(file_path)

    if len(df) < 8760:
        # Impute data (example: forward fill)
        df = df.reindex(range(8760)).ffill()

    # Save the imputed data back to the file (or you can choose to save to a new file)
    df.to_csv(file_path, index=False)

def process_station_data(directory):
    # List all CSV files in the directory
    for filename in os.listdir(directory):
        if filename.endswith('.csv'):
            file_path = os.path.join(directory, filename)
            impute_data(file_path)
            print(f"Processed {filename}")

# Directory containing the CSV files
directory = 'station_data'
process_station_data(directory)

In [69]:
import pandas as pd
from datetime import timedelta, datetime
import os

def impute_missing_rows(df, expected_rows=8760):
    # Create a complete range of datetime values for the expected period
    start_date = df['valid'].min().replace(hour=0, minute=0, second=0, microsecond=0)
    end_date = start_date + pd.DateOffset(hours=expected_rows - 1)
    date_range = pd.date_range(start_date, end_date, freq='H')
    df = df.set_index('valid').reindex(date_range).reset_index().rename(columns={'index': 'valid'})
    df.fillna(method='ffill', inplace=True)  # Example: forward fill
    return df

def process_p_file(file_path):
    df = pd.read_parquet(file_path)
    df['valid'] = pd.to_datetime(df['valid'])
    df_filtered = df[df['valid'].dt.year.isin([2021, 2021])]  # Corrected the years
    df = pd.DataFrame(df_filtered)
    df['valid'] = pd.to_datetime(df['valid']) + timedelta(minutes=8)
    first_row = df.iloc[0].copy()
    first_row['valid'] = first_row['valid'].replace(hour=0, minute=0, second=0, microsecond=0)
    df = pd.concat([pd.DataFrame([first_row]), df]).reset_index(drop=True)
    df = df[:-1]

    # Impute missing rows to ensure the file is exactly 8760 rows long
    df = impute_missing_rows(df)

    directory, filename = os.path.split(file_path)
    output_file = os.path.join(directory, f"processed_{filename}")
    df.to_parquet(output_file, index=False)
    print(f"Processed file saved as: {output_file}")

def process_all_p_in_directory(directory):
    for filename in os.listdir(directory):
        if filename.endswith('.parquet'):
            file_path = os.path.join(directory, filename)
#             print(f"Processing file: {file_path}")
            process_p_file(file_path)

process_all_p_in_directory('WI')

Processed file saved as: WI/processed_MRJ.parquet
Processed file saved as: WI/processed_LNR.parquet
Processed file saved as: WI/processed_ATW.parquet
Processed file saved as: WI/processed_AUW.parquet
Processed file saved as: WI/processed_JVL.parquet
Processed file saved as: WI/processed_DLL.parquet
Processed file saved as: WI/processed_RAC.parquet
Processed file saved as: WI/processed_HYR.parquet
Processed file saved as: WI/processed_ARV.parquet
Processed file saved as: WI/processed_MTW.parquet
Processed file saved as: WI/processed_CMY.parquet
Processed file saved as: WI/processed_RPD.parquet
Processed file saved as: WI/processed_SBM.parquet
Processed file saved as: WI/processed_ENW.parquet
Processed file saved as: WI/processed_GRB.parquet
Processed file saved as: WI/processed_PBH.parquet
Processed file saved as: WI/processed_MDZ.parquet
Processed file saved as: WI/processed_AIG.parquet
Processed file saved as: WI/processed_UES.parquet
Processed file saved as: WI/processed_VOK.parquet
Processed file saved as: WI/processed_PDC.parquet
Processed file saved as: WI/processed_RYV.parquet
Processed file saved as: WI/processed_SUW.parquet
Processed file saved as: WI/processed_CWA.parquet
Processed file saved as: WI/processed_MFI.parquet
Processed file saved as: WI/processed_ISW.parquet
Processed file saved as: WI/processed_FLD.parquet
Processed file saved as: WI/processed_RNH.parquet
Processed file saved as: WI/processed_EFT.parquet
Processed file saved as: WI/processed_OVS.parquet
Processed file saved as: WI/processed_CLI.parquet
Processed file saved as: WI/processed_ETB.parquet
Processed file saved as: WI/processed_BUU.parquet
Processed file saved as: WI/processed_MWC.parquet
Processed file saved as: WI/processed_ASX.parquet
Processed file saved as: WI/processed_MSN.parquet
Processed file saved as: WI/processed_RHI.parquet
Processed file saved as: WI/processed_EGV.parquet
Processed file saved as: WI/processed_UNU.parquet
Processed file saved as: WI/processed_RRL.parquet
Processed file saved as: WI/processed_MKE.parquet
Processed file saved as: WI/processed_OEO.parquet
Processed file saved as: WI/processed_OSH.parquet
Processed file saved as: WI/processed_STE.parquet
Processed file saved as: WI/processed_SUE.parquet
Processed file saved as: WI/processed_LSE.parquet
Processed file saved as: WI/processed_EAU.parquet

In [148]:
df = pd.read_parquet('WI/processed_SUE.parquet')

In [149]:
df

                   valid  tmpf  dwpf   relh   drct  sknt   alti  vsby  feel
0    2021-01-01 00:00:00  16.0  12.9  87.32  240.0   5.0  30.34  10.0  7.39
1    2021-01-01 01:00:00  16.0  12.9  87.32  240.0   5.0  30.34  10.0  7.39
2    2021-01-01 02:00:00  16.0  12.9  87.32  240.0   5.0  30.34  10.0  7.39
3    2021-01-01 03:00:00  16.0  12.9  87.32  240.0   5.0  30.34  10.0  7.39
4    2021-01-01 04:00:00  16.0  12.9  87.32  240.0   5.0  30.34  10.0  7.39
...                  ...   ...   ...    ...    ...   ...    ...   ...   ...
8755 2021-12-31 19:00:00  16.0  12.9  87.32  240.0   5.0  30.34  10.0  7.39
8756 2021-12-31 20:00:00  16.0  12.9  87.32  240.0   5.0  30.34  10.0  7.39
8757 2021-12-31 21:00:00  16.0  12.9  87.32  240.0   5.0  30.34  10.0  7.39
8758 2021-12-31 22:00:00  16.0  12.9  87.32  240.0   5.0  30.34  10.0  7.39
8759 2021-12-31 23:00:00  16.0  12.9  87.32  240.0   5.0  30.34  10.0  7.39

[8760 rows x 9 columns]

# Use this function to split a CSV by date format

In [5]:
def split_csv_on_date_change(input_csv):
    """
    Splits a CSV file into multiple new CSV files each time the date format in 'Date Local' changes.

    Parameters:
    - input_csv (str): The path to the input CSV file.
    """
    df = pd.read_csv(input_csv)
    current_format = None
    start_index = 0

    for i, row in df.iterrows():
        date_local = row['Date Local']
        new_format = '-' in date_local

        if current_format is None:
            current_format = new_format
        elif current_format != new_format:
            # Date format changed, split and save the DataFrame up to the current row
            df_slice = df.iloc[start_index:i]
            output_file = f'split_{start_index}_{i-1}.csv'
            df_slice.to_csv(output_file, index=False)
            start_index = i
            current_format = new_format

    # Save the last slice
    if start_index < len(df):
        output_file = f'split_{start_index}_{len(df)-1}.csv'
        df.iloc[start_index:].to_csv(output_file, index=False)

# Usage
input_csv = 'filtered_wisconsin_1_pm10.csv'
split_csv_on_date_change(input_csv)

In [6]:
input_file = 'hourly_81102_2020.csv'
output_file = 'cleaned_MKE_2020_pm10.csv'
filter_wisconsin_rows(input_file, output_file)

In [7]:
df = pd.read_csv('filtered_wisconsin_1_pm10.csv', error_bad_lines=False)
df = df[['State Code','County Code','County Code','Parameter Code','Latitude','Longitude','Date Local','Time Local','Date GMT','Time GMT','Parameter Name','Sample Measurement','County Name']]

/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3457: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [8]:
df

,State Code,County Code,County Code,Parameter Code,Latitude,Longitude,Date Local,Time Local,Date GMT,Time GMT,Parameter Name,Sample Measurement,County Name
0,55,25,25,81102,43.073300,-89.43580,2020-01-01,00:00,2020-01-01,06:00,PM10 Total 0-10um STP,13.7,Dane
1,55,25,25,81102,43.073300,-89.43580,2020-01-01,01:00,2020-01-01,07:00,PM10 Total 0-10um STP,12.1,Dane
2,55,25,25,81102,43.073300,-89.43580,2020-01-01,02:00,2020-01-01,08:00,PM10 Total 0-10um STP,12.2,Dane
3,55,25,25,81102,43.073300,-89.43580,2020-01-01,03:00,2020-01-01,09:00,PM10 Total 0-10um STP,11.3,Dane
4,55,25,25,81102,43.073300,-89.43580,2020-01-01,04:00,2020-01-01,10:00,PM10 Total 0-10um STP,11.0,Dane
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58350,55,133,133,81102,43.020075,-88.21507,2020-12-31,19:00,2021-01-01,01:00,PM10 Total 0-10um STP,22.1,Waukesha
58351,55,133,133,81102,43.020075,-88.21507,2020-12-31,20:00,2021-01-01,02:00,PM10 Total 0-10um STP,22.1,Waukesha
58352,55,133,133,81102,43.020075,-88.21507,2020-12-31,21:00,2021-01-01,03:00,PM10 Total 0-10um STP,24.9,Waukesha
58353,55,133,133,81102,43.020075,-88.21507,2020-12-31,22:00,2021-01-01,04:00,PM10 Total 0-10um STP,28.4,Waukesha
58354,55,133,133,81102,43.020075,-88.21507,2020-12-31,23:00,2021-01-01,05:00,PM10 Total 0-10um STP,27.3,Waukesha

# Use this to find differences

In [ ]:
def haversine_distance(lat1, lon1, lat2, lon2):
    lat1, lon1, lat2, lon2 = map(np.radians, [lat1, lon1, lat2, lon2])
    dlat = lat2 - lat1 
    dlon = lon2 - lon1 
    a = np.sin(dlat/2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2)**2
    c = 2 * np.arcsin(np.sqrt(a)) 
    km = 6367 * c
    return km

def find_nearest(df, lat, lon):
    distances = df.apply(lambda row: haversine_distance(lat, lon, row['Latitude'], row['Longitude']), axis=1)
    min_distance_index = distances.idxmin()
    return df.loc[[min_distance_index]]

# Check SO2 lat example

In [ ]:
input_file = 'hourly_42401_2020.csv'
output_file = 'filtered_wisconsin_1_so2.csv'
filter_wisconsin_rows(input_file, output_file)

In [ ]:
df = pd.read_csv('filtered_wisconsin_1_so2.csv', error_bad_lines=False)
df = df[['State Code','County Code','County Code','Parameter Code','Latitude','Longitude','Date Local','Time Local','Date GMT','Time GMT','Parameter Name','Sample Measurement','County Name']]

In [ ]:
nearest_df = find_nearest(df, input_latitude, input_longitude)
nearest_df['Latitude']

In [ ]:
df_matched = df[df['Latitude'] == 43.060975]
df_matched.to_csv('cleaned_MKE_2020_so2.csv')